.breadcrumbs{
    background: rgba(#DFDFDF, .5);
    &__list{
        display: flex;
    }
    &__item::after{
        content: '/';
        margin-left: -4px;
        margin-right: 4px;
    }
    &__item:last-child::after{
        display: none;
    }
    &__link{
        color: $default;
        font-size: 14px;
    }
}